<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	The contact page contains a list of all individuals who should be contacted with any questions, concerns or comments. Thanks you for your time.
</p>
